In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/nicknochnack/Tensorflow-in-10-Minutes/main/Churn.csv')

In [4]:
X = pd.get_dummies(df.drop(['Churn', 'Customer ID'], axis=1))
Y = df['Churn'].apply(lambda x: 1 if x=='Yes' else 0)

In [5]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2)

In [6]:
X_train.head()

,Senior Citizen,tenure,Monthly Charges,Gender_Female,Gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,Phone Service_No,...,Total Charges_995.35,Total Charges_996.45,Total Charges_996.85,Total Charges_996.95,Total Charges_997.65,Total Charges_997.75,Total Charges_998.1,Total Charges_999.45,Total Charges_999.8,Total Charges_999.9
4915,0,72,74.55,True,False,False,True,False,True,False,...,False,False,False,False,False,False,False,False,False,False
5509,0,70,25.15,False,True,False,True,True,False,False,...,False,False,False,False,False,False,False,False,False,False
4742,1,15,94.65,True,False,False,True,True,False,False,...,False,False,False,False,False,False,False,False,False,False
2864,0,1,44.60,False,True,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
1186,0,1,60.15,True,False,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False

In [7]:
Y_train.head()

4915    0
5509    0
4742    0
2864    0
1186    1
Name: Churn, dtype: int64

In [1]:
from tensorflow.keras.models import Sequential, load_model
from tensorflow.keras.layers import Dense
from sklearn.metrics import accuracy_score
import tensorflow as tf

print("tensorflow: {}".format(tf.__version__))